# Apuntes de MySQL: Funciones y Comandos

En este documento, exploraremos algunas funciones y comandos comunes en MySQL, como `CONCAT`, `DAYNAME`, `TIMESTAMPDIFF`, `WHILE DO`, `IF`, `MOD`, `SET`, entre otros. Estos ejemplos están diseñados para un nivel universitario.

## 1. CONCAT
La función `CONCAT` se utiliza para concatenar dos o más cadenas de texto.

In [ ]:
SELECT CONCAT('Hola', ' ', 'Mundo') AS Saludo;

In [ ]:
DELIMITER //

CREATE FUNCTION GenerarSaludo(a VARCHAR(25), b  VARCHAR(25))
RETURNS VARCHAR(50)
BEGIN
    DECLARE saludo VARCHAR(50);
    SET saludo = CONCAT(a, ' ', b);
    RETURN saludo;
END //

DELIMITER ;

**Resultado esperado:**
```
Saludo
---------
Hola Mundo
```

## 2. DAYNAME
La función `DAYNAME` devuelve el nombre del día de la semana para una fecha dada.

In [ ]:
SELECT DAYNAME('2023-10-05') AS Dia;

In [ ]:
DELIMITER //

CREATE FUNCTION GenerarDia(a DATE)
RETURNS VARCHAR(50)
BEGIN
    DECLARE dia VARCHAR(50);
    SET dia = DAYNAME(a);
    RETURN dia;
END //

DELIMITER ;

**Resultado esperado:**
```
Dia
-------
Thursday
```

## 3. TIMESTAMPDIFF
La función `TIMESTAMPDIFF` calcula la diferencia entre dos fechas en una unidad específica (años, meses, días, etc.).

In [ ]:
SELECT TIMESTAMPDIFF(YEAR, '2000-01-01', '2023-10-05') AS Anios;

In [ ]:
DELIMITER //

CREATE FUNCTION GenerarDia(a DATE, b DATE)
RETURNS INTEGER
BEGIN
    DECLARE dia INTEGER;
    SET dia = TIMESTAMPDIFF([YEAR/MONT/DAY], a, b);
    RETURN dia;
END //

DELIMITER ;

**Resultado esperado:**
```
Anios
-------
23
```

## 4. WHILE DO
El bucle `WHILE DO` se utiliza para ejecutar un bloque de código repetidamente mientras se cumpla una condición. Este ejemplo crea un procedimiento almacenado que cuenta hasta 10.

In [ ]:
DELIMITER //

CREATE PROCEDURE ContarHasta10()
BEGIN
    DECLARE contador INT DEFAULT 1;
    WHILE contador <= 10 DO
        SELECT contador;
        SET contador = contador + 1;
    END WHILE;
END //

DELIMITER ;

CALL ContarHasta10();

**Resultado esperado:**
```
contador
---------
1
2
...
10
```

## 5. IF
La función `IF` se utiliza para realizar una evaluación condicional.

In [ ]:
SELECT IF(1 > 0, 'Verdadero', 'Falso') AS Resultado;

In [ ]:
DELIMITER //
CREATE FUNCTION mayorMenor(numero INTEGER)
RETURNS TEXT
BEGIN
    IF numero > 0 THEN
        RETURN 'Verdadero';
    ELSEIF numero < 0 THEN
        RETURN 'Falso';
    ELSE
        RETURN 'Cero';
    END IF;
END //
DELIMITER ;

**Resultado esperado:**
```
Resultado
---------
Verdadero
```

## 6. MOD
La función `MOD` devuelve el resto de una división.

In [ ]:
SELECT MOD(10, 3) AS Resto;

In [ ]:
DELIMITER //
CREATE FUNCTION Resto (a INTEGER, b INTEGER)
RETURNS INTEGER
BEGIN
    DECLARE resto INTEGER;
    SET resto = MOD(a, b);
    RETURN resto;
END //

DELIMITER ;

**Resultado esperado:**
```
Resto
-------
1
```

## 7. SET
El comando `SET` se utiliza para asignar un valor a una variable.

In [ ]:
SET @mi_variable = 10;
SELECT @mi_variable AS Valor;

**Resultado esperado:**
```
Valor
-------
10
```

## 8. Otras Funciones Útiles

### 8.1. DATE_FORMAT
Formatea una fecha según un patrón especificado.

In [ ]:
SELECT DATE_FORMAT('2023-10-05', '%W, %M %d, %Y') AS FechaFormateada;

In [ ]:
DELIMITER //
CREATE FUNCTION formatearFecha (fecha DATE)
RETURNS VARCHAR(50)
BEGIN
    RETURN DATE_FORMAT(fecha, '%W, %M %d, %Y');
END //

DELIMITER ;

**Resultado esperado:**
```
FechaFormateada
----------------
Thursday, October 05, 2023
```

### 8.2. NOW
Devuelve la fecha y hora actuales.

In [ ]:
SELECT NOW() AS Ahora;

In [ ]:
DELIMITER //
CREATE FUNCTION fechaHoy ()
RETURNS VARCHAR(50)
BEGIN
    RETURN NOW();
END //

DELIMITER ;

**Resultado esperado:**
```
Ahora
--------------------
2023-10-05 12:34:56
```

### 8.3. CASE
Permite realizar evaluaciones condicionales más complejas.

In [ ]:
SELECT 
    CASE 
        WHEN 1 > 0 THEN 'Verdadero'
        ELSE 'Falso'
    END AS Resultado;

In [ ]:
DELIMITER //

CREATE FUNCTION evaluar_condicion(valor INTEGER) 
RETURNS VARCHAR(10)
BEGIN
    RETURN CASE 
        WHEN valor > 0 THEN 'Verdadero'
        ELSE 'Falso'
    END;
END //

DELIMITER ;

**Resultado esperado:**
```
Resultado
---------
Verdadero
```

In [ ]:
DELIMITER //

CREATE FUNCTION calcular_descuento(cantidad INT, precio_unitario DECIMAL(10,2)) 
RETURNS DECIMAL(10,2)

BEGIN
    DECLARE total DECIMAL(10,2);
    DECLARE descuento DECIMAL(10,2);

    -- Calcular el precio total sin descuento
    SET total = cantidad * precio_unitario;

    -- Aplicar la lógica de descuento con CASE
    SET descuento = CASE 
        WHEN cantidad >= 20 THEN total * 0.10  -- 10% de descuento
        WHEN cantidad >= 10 THEN total * 0.05  -- 5% de descuento
        ELSE 0  -- Sin descuento
    END;

    -- Retornar el total con descuento aplicado
    RETURN total - descuento;
END //

DELIMITER ;

## Conclusión
Estas son algunas de las funciones y comandos más comunes en MySQL que pueden ser útiles en el desarrollo de aplicaciones y análisis de datos. Practicar con estas funciones te ayudará a familiarizarte con el lenguaje SQL y a realizar consultas más complejas y eficientes.